/* SECTION:
 *  Variables
 * */

@media only screen and (max-width: 600px) {
	:root {
		--text-size: 24px;
		--padding-size: 24px;
	}
}

@media only screen and (min-width: 601px) {
	:root {
		--text-size: 32px;
		--padding-size: 32px;
	}
}


/* SECTION:
 *  Page Content Elements
 * */

body {
	overflow: hidden;

	font-family: 'Inconsolata';
	font-size: var(--text-size);
}

.page-content {
	width: 90vw;
	height: 90vh;
	padding: 0px;
	margin: 5vh auto;

	position: relative;

 	box-shadow: 0px 0px 25px 25px #000000ff;
 	border-radius: var(--text-size);

	animation-name: slideFadeIn;
	animation-duration: 2s;
}

#header {
	width: calc(100% - var(--padding-size) * 2);
	height: var(--text-size);
	padding: var(--padding-size);

	position: absolute;
	top: 0px;
	
	display: flex;
	justify-content: space-between;
}

#footer {
	width: calc(100% - var(--padding-size) * 2);
	height: var(--text-size);
	padding: var(--padding-size);

	position: absolute;
	bottom: 0px;
	
	display: block;
	justify-content: center;
}

#content {
	width: calc(100% - var(--padding-size) * 2);
	padding: 0px var(--padding-size);

	position: absolute;
	top: calc(var(--text-size) + var(--padding-size) * 2);
	bottom: calc(var(--text-size) + var(--padding-size) * 2);

	overflow-x: hidden;
	overflow-y: auto;

	text-align: left;
	word-wrap: break-word;
}

/* SECTION:
 *  HTML DOM Elements
 * */

a:link, a:visited {
	text-decoration: none;
	font-weight: bold;

	color: #444444ff;
}

#a-nav {
	padding: 4px;
}

h1 {
	padding: 0px;
	margin: 0px;
}

p {
	color: #444444ff;
}

/* SECTION:
 *  HTML Class Elements
 * */

.div-left {
	width: 50%;
	left: 0px;
	text-align: left;
}

.div-right {
	width: 50%;
	right: 0px;
	text-align: right;
}

.div-center {
	text-align: center;
}

/* SECTION:
 *  HTML CSS Animations
 * */

@keyframes slideFadeIn {
	0% {
		transform: translateY(10%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
