/* SECTION:
 *  Page Content Elements
 * */

body {
	overflow: hidden;

	font-family: Sans-serif;
	font-size: 1.0em;
}

.page-content {
	margin: 1vh auto;
	width: 50vw;
	min-width: 600px;
	height: 98vh;

	position: relative;

 	box-shadow: 0px 0px 16px 16px #000000ff;
 	border-radius: 0.5em;

	animation-name: slideFadeIn;
	animation-duration: 2s;
}

#header,
#footer {
	padding: 25px;
	width: calc(100% - 50px);
	height: calc(1.5em);
}

#header {
	position: absolute;
	top: 0px;
	
	display: flex;
	vertical-align: center;
}

#footer {
	position: absolute;
	bottom: 0px;
	
	display: block;
	justify-content: center;
}

#content {
	padding: 25px;
	width: calc(100% - 50px);

	position: absolute;
	top: calc(1.5em + 50px);
	bottom: calc(1.5em + 50px);

	overflow-x: hidden;
	overflow-y: auto;

	text-align: left;
	word-wrap: break-word;
}

/* SECTION:
 *  HTML DOM Elements
 * */

a:link, a:visited {
	text-decoration: underline;
	font-weight: bold;

	color: #444444ff;
}

.a-nav {
	margin: 0px 8px;
	font-size: 1.5em;
	text-decoration: none;
}

h1, h2, h3 {
	padding: 0px;
	margin: 0px;
}

h1 { font-size: 1.3em; color: #222222ff; }
h2 { font-size: 1.2em; color: #444444ff; }
h3 { font-size: 1.2em; color: #888888ff; }

p {
	color: #444444ff;
}

pre {
	margin: 0px auto;
	padding: 25px 25px;
	width: 90%;
	max-width: 90%;

	overflow-x: auto;
	overflow-y: hidden;
	
	font-family: monospace;
	font-size: 1.0em;

 	border-radius: 0.5em;

	color: #fafafaff;
	background: #444444ff;
}

/* SECTION:
 *  HTML Class Elements
 * */

.div-left {
	width: 50%;
	left: 0px;
	text-align: left;
}

.div-right {
	width: 50%;
	right: 0px;
	text-align: right;
}

.div-center {
	text-align: center;
}

/* SECTION:
 *  HTML CSS Animations
 * */

@keyframes slideFadeIn {
	0% {
		transform: translateY(10%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
